body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}
header {
  align-items: center;
  background-color: #252422;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}
.header__img {
  margin-left: 30px;
  width: 200px;
}
.registrar{
  /* Queda un vacio por que hay un padding en el h2 */
  background: linear-gradient(#252422, #403d39); 
  display: flex;
  align-items: center;
  justify-content: center; /*alinear de forma horizontal */
  /* Todos los elementos se ubiquen de arriba hacia abajo */
  flex-direction: column;
  padding: 0px 30px;
  /* Por mas grande que sea nuestro alto en la pantalla siempre va a tener el valor de min-height */
  min-height: calc(100vh - 200px);
}
.registrar__container{
  /* degradiente de blanco con opacidad  */
  background: url(../IniciarSesion/Asset/Paisaje.jpg)center bottom;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.registrar__container--form{
  display: flex;
  flex-direction: column;
}
.registrar__container--social-media > div{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.registrar__container--social-media > div >img{
  width: 30px;
  margin-right: 10px;
}
.input{
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}
::placeholder{
  color:white;
}
.button{
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  /* es importante gracias a el puede oprimir el boton */
  cursor: pointer;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.footer{
  background-color: #403d39;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}
.footer a{
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}